.App {
  text-align: center;
  height: 100vh;
  width: 100%;
  display: flex;
  border: solid 2px black;
}

ul {
  list-style: none;
}

/* ----------- LOGIN ----------- */

.Login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  max-width: 25rem;
  margin-left: auto;
  margin-right: auto;
}

/* ----------- CHAT ----------- */

.Chat-Wrapper {
  border: solid 2px blue;
}