/* ----------- NAVBAR ---------- */

.navbar-wrapper {
  height: 4rem;
  position: absolute; 
  top: 0;
  width: 100%;
}

.navlink {
  text-decoration: none;
  margin-left: 2rem;
  color: black;
}

/* ----------- MAIN (MINUS NAVBAR) ------------ */

.content-wrapper {
  margin-top: 4rem;
  height: calc(100vh - 4rem);
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 1rem;
}

/* ----------- LOGIN ----------- */

.Login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  max-width: 25rem;
  margin-left: auto;
  margin-right: auto;
}


/* ----------- CHAT ----------- */

.Chat-Wrapper {
  width: 100%;
  display: flex;
  flex-flow: row wrap;

}

.participants {
  width: 100%;
  align-self: flex-start;
}

.Messages-Display {
  overflow-y: auto;
  min-height: 60%;
  max-height: 60%;
  width: 100%;
  align-self: flex-start;
}

.Create-Message {
  width: 80%;
  margin-left: 10%;
  align-self: flex-end;
  padding-bottom: 1em;
}

/* ---------- CHANNELS ----------- */

.channels-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 50%;
  max-width: 25rem;
  margin-left: auto;
  margin-right: auto;
}

.channels-wrapper > div {
  padding-top: 3rem;
}

/* ------------ MISC ------------- */

.loading {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  max-width: 25rem;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style: none;
}

